<div class="list-card-details">
  <b>{{questionItem.subject}}</b>

    <div *ngIf="questionPagesItem.subSubject && questionPagesItem.subSubject.length > 0"
         class="list-card-members">
      <div>
      </div>
      <div class="list-card-member" >
        <mat-radio-group *ngIf="questionPagesItem.sujetType === 2">
          <mat-radio-button *ngFor="let sub of questionPagesItem.subSubject" [value]="sub">{{sub}}</mat-radio-button>
        </mat-radio-group>
        <mat-form-field *ngIf="questionPagesItem.sujetType === 1">
          <mat-select [(value)]="selected">
            <mat-option *ngFor="let sub of questionPagesItem.subSubject" [value]="sub">{{sub}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field *ngIf="questionPagesItem.sujetType === 3">
          <mat-select multiple>
            <mat-option *ngFor="let sub of questionPagesItem.subSubject" [value]="sub">{{sub}}</mat-option>
          </mat-select>
        </mat-form-field>


      </div>

    </div>
    

</div>
<div class="list-card-footer" fxLayout="row" fxLayoutAlign="space-between center">

</div>
