<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewData["Title"]</title>
  <base href="/">
  <link href="assets/icons/meteocons/style.css" rel="stylesheet">
  <link href="assets/icons/material-icons/outline/style.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Muli:300,400,600,700" rel="stylesheet">

  <link rel="stylesheet" href="~/css/site.css" asp-append-version="true">


</head>
<body>
        @RenderBody()
    @RenderSection("Scripts", required: false)
</body>
</html>
