<div class="list mat-elevation-z1" fxLayout="column">

  <!-- LIST HEADER -->
  <div class="list-header" fxLayout="row" fxLayoutAlign="space-between center">

    <scrumboard-board-edit-list-name fxFlex="1 0 auto"
                                     [page]="page"
                                     (listNameChanged)="onListNameChanged($event)">
    </scrumboard-board-edit-list-name>

    <div fxFlex="0 1 auto">
      <button mat-icon-button class="list-header-option-button" [matMenuTriggerFor]="listMenu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #listMenu="matMenu">
        <button mat-menu-item (click)="removeList(page)">Supprimer la page</button>
      </mat-menu>
    </div>

  </div>
  <!-- / LIST HEADER -->
  <!-- LIST CONTENT -->
  <div class="list-content" fxLayout="column">

    <div class="list-cards ngx-dnd-container"
         [model]="page.QuestionPagesItem"
         ngxDroppable="card"
         (out)="onDrop($event)"
         fusePerfectScrollbar #listScroll>
      <question-page-item ngxDraggable
                          class="scrumboard-board-card ngx-dnd-item"
                          *ngFor="let item of page.QuestionPageItems"
                          [questionPagesItem]="item">
      </question-page-item>
    </div>
  </div>
  <!-- / LIST CONTENT -->
  <!-- NEW CARD BUTTON-->
  <div class="list-footer">
    <scrumboard-board-add-card [QuestionPage]="page" (QuestionItemAdded)="addQuestionItem($event)"></scrumboard-board-add-card>
  </div>
  <!-- / NEW CARD BUTTON-->

</div>
