<div [ngSwitch]="responseType" class="views" (click)="$event.stopPropagation()">
 
  <div class="view" *ngSwitchCase="'textBox'" fxFlex fxLayout="column">
    eto zan n text box

  </div>

  <div class="view edit" *ngSwitchCase="'dropdownList'" fxFlex fxLayout="column">

    eto indray zany n dropdownlist for sy ny miajouter an le liste

  </div>

  <div class="view add" *ngSwitchCase="'listOfRradio'" fxFlex fxLayout="column">

    eto ny list ok radio

  </div>
  <div class="view add" *ngSwitchCase="'checkbox'" fxFlex fxLayout="column">

    ary eto ny list of checkbobx

  </div>

</div>
