<div id="login" fxLayout="column">

  <div id="login-form-wrapper" fxLayout="column" fxLayoutAlign="center center">

    <div id="login-form" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

      <div class="logo">
        <img src="/logo.png"/>
      </div>

      <div class="title">Connectez vous pour continuer ;)</div>

      <form name="loginForm" [formGroup]="loginForm" novalidate>
        <mat-error *ngIf="showError">
          Le login ou le mots de passe est érroné
        </mat-error>

        <mat-form-field appearance="outline">
          <mat-label>Login</mat-label>
          <input matInput formControlName="email">
          <mat-icon matSuffix class="secondary-text">mail</mat-icon>
          <mat-error *ngIf="loginForm.get('email').hasError('required')">
            L'email est requis
          </mat-error>
          <mat-error *ngIf="loginForm.get('email').hasError('email')">
            L'adresse email est invalid
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Mots de passe</mat-label>
          <input matInput type="password" formControlName="password">
          <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
          <mat-error>
            Le mots de passe est invalid
          </mat-error>
        </mat-form-field>

        <div class="remember-forgot-password" fxLayout="row" fxLayout.xs="column"
             fxLayoutAlign="space-between center">
          <mat-checkbox class="remember-me" aria-label="Remember Me">
            Se souvenir de moi
          </mat-checkbox>

          <a class="forgot-password" [routerLink]="'/auth/forgot-password'">
            Mots de passe oublié?
          </a>
        </div>

        <button mat-raised-button color="accent" class="submit-button" aria-label="LOG IN"
                [disabled]="loginForm.invalid" (click)="login()">
          Se connecter
        </button>

      </form>

    </div>

  </div>

</div>
