<div id="boards" class="fuse-navy" fxLayout="column" fxLayoutAlign="start center" fxFlex fusePerfectScrollbar>
    <div class="header pt-44 pt-md-88" fxLayout="row" fxLayoutAlign="center center" fxFlex="0 0 auto"
         [@animate]="{value:'*',params:{delay:'100ms'}}">
        <h1>Questionnaires</h1>
    </div>
    <div class="board-list" fxFlex="0 0 auto" fxLayout="row wrap" fxLayoutAlign="center center"
         [@animateStagger]="{value:'50'}">
        <div class="board-list-item" *ngFor="let questionnaire of Questions"
             [routerLink]="'/questionnaires/'+questionnaire.id+'/'+questionnaire.uri"
             fxLayout="column" fxLayoutAlign="center center"
             [@animate]="{value:'*',params:{y:'100%'}}">
            <mat-icon class="s-56">assessment</mat-icon>
            <div class="board-name">{{questionnaire.titre}}</div>
        </div>
        <div class="board-list-item add-new-board" fxLayout="column" fxLayoutAlign="center center"
             (click)="newQuestionnaire()"
             [@animate]="{value:'*',params:{y:'100%'}}">
            <mat-icon class="s-56">add_circle</mat-icon>
            <div class="board-name">Ajouter un questionnaire</div>
        </div>
    </div>

    <a>Mes ecrans</a>
</div>
