<div fxFlex="1 0 auto" *ngIf="!formActive" class="list-header-name" (click)="openForm()">
    {{page.titre}}
</div>

<form [formGroup]="form" (ngSubmit)="onFormSubmit()"
      class="list-header-name-form" fxLayout="row" fxFlex="1 0 auto"
      *ngIf="formActive">

    <input formControlName="titre" #nameInput fxFlex placeholder="écrire le nom de la page">

    <button mat-icon-button fxFlex="0 1 auto">
        <mat-icon>check</mat-icon>
    </button>
    <button mat-icon-button fxFlex="0 1 auto" (click)="closeForm()" type="button">
        <mat-icon>close</mat-icon>
    </button>
</form>
