<div [ngSwitch]="view" class="views" (click)="$event.stopPropagation()">

  <div class="view" *ngSwitchCase="'main'" [@slideInLeft]>

    <!-- SIDENAV HEADER -->
    <div class="header px-24" [ngClass]="board.color" fxLayout="column" fxLayoutAlign="center center">
      <div>Parametre</div>
    </div>
    <!-- / SIDENAV HEADER -->
    <!-- SIDENAV CONTENT -->
    <div class="content py-16" fusePerfectScrollbar>

      <div class="nav material2">
        <div class="nav-item">

          <div class="nav-item">
            <div class="nav-link" matRipple (click)="toggleSubscription()">
              <mat-icon class="nav-link-icon">remove_red_eye</mat-icon>
              <p fxFlex class="title">Envoyer le test à une personne</p>
              <mat-icon *ngIf="board.subscribed" class="s-18">check</mat-icon>
            </div>
          </div>

          <div class="nav-item">
            <div class="nav-link" matRipple (click)="deleteQuestionnaire()">
              <mat-icon class="nav-link-icon">delete</mat-icon>
              <p class="title">Supprimer le questionnaire</p>
            </div>
          </div>

          <mat-divider></mat-divider>
        </div>
      </div>
      <!-- / SIDENAV CONTENT -->
    </div>
  </div>
</div>
