<div class="dialog-content-wrapper">

    <mat-toolbar *ngIf="card" matDialogTitle class="accent m-0" fxFlex="1 0 auto" fxLayout="row">

        <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">

            <div fxFlex fxLayout="row" fxLayoutAlign="start center">

                <!-- LABELS -->
                <div class="labels" fxFlex="0 1 auto">

                    <button mat-icon-button [matMenuTriggerFor]="labelsMenu">
                        <mat-icon>label</mat-icon>
                    </button>

                    <mat-menu #labelsMenu="matMenu" [overlapTrigger]="false" class="scrumboard-labels-menu">

                        <scrumboard-label-selector [questionPagesItem]="questionPagesItem"
                                                   (cardLabelsChanged)="updateQuestionPageItem()"></scrumboard-label-selector>

                    </mat-menu>

                </div>
                <!-- / LABELS -->

                <!-- MEMBERS -->
                <div class="members" fxFlex="0 1 auto">

                    <button mat-icon-button class="" [matMenuTriggerFor]="membersMenu">
                        <mat-icon>account_circle</mat-icon>
                    </button>

                    <mat-menu #membersMenu="matMenu" [overlapTrigger]="false">
                        <div fxFlex fxLayout="column" class="scrumboard-members-menu"
                             (click)="$event.stopPropagation()">
                            <mat-checkbox class="member px-16" [checked]="card.idMembers.indexOf(member.id) > -1"
                                          *ngFor="let member of board.members"
                                          (change)="toggleInArray(member.id, card.idMembers);updateCard()">
                                <div fxLayout="row" fxLayoutAlign="start center">
                                    <img [alt]="member.name" [src]=" member.avatar" class="avatar"/>
                                    <p class="member-name">{{ member.name }}</p>
                                </div>
                            </mat-checkbox>
                        </div>
                    </mat-menu>

                </div>
                <!-- / MEMBERS -->

                <!-- ATTACHMENT -->
                <button mat-icon-button aria-label="Attachment">d
                    <mat-icon>attachment</mat-icon>
                </button>
                <!-- / ATTACHMENT -->

                <!-- CHECKLIST -->
                <div class="due-date " fxFlex="0 1 auto">

                    <button mat-icon-button class="" [matMenuTriggerFor]="checklistMenu"
                            #checklistMenuTrigger="matMenuTrigger" (menuOpened)="onChecklistMenuOpen()">
                        <mat-icon>check_box</mat-icon>
                    </button>

                    <mat-menu #checklistMenu="matMenu" [overlapTrigger]="false">

                        <form class="px-16 py-8" #newChecklistForm="ngForm" (submit)="addChecklist(newChecklistForm)"
                              (click)="$event.stopPropagation()"
                              fxLayout="column" fxLayoutAlign="start end">

                            <mat-form-field appearance="outline" (click)="$event.stopPropagation()" fxFlex>
                                <mat-label>Checklist title</mat-label>
                                <input #newCheckListTitleField matInput ngModel #checklistTitle="ngModel"
                                       name="checklistTitle" required>
                            </mat-form-field>

                            <button mat-raised-button class="mat-accent" aria-label="Add Checklist"
                                    [disabled]="!newChecklistForm.valid">Add Checklist
                            </button>

                        </form>

                    </mat-menu>

                </div>
                <!-- / CHECKLIST -->

                <!-- SUBSCRIBE -->
                <div class="subscribe " fxFlex="0 1 auto">

                    <button mat-icon-button [matMenuTriggerFor]="subscribeMenu">
                        <mat-icon *ngIf="card.subscribed">visibility</mat-icon>
                        <mat-icon *ngIf="!card.subscribed">visibility_off</mat-icon>
                    </button>

                    <mat-menu #subscribeMenu="matMenu" [overlapTrigger]="false">
                        <button *ngIf="card.subscribed" mat-menu-item (click)="toggleSubscribe()">
                            Unsubscribe
                        </button>
                        <button *ngIf="!card.subscribed" mat-menu-item (click)="toggleSubscribe()">
                            Subscribe
                        </button>
                    </mat-menu>

                </div>
                <!-- / SUBSCRIBE -->

                <!-- OPTIONS -->
                <div class="options " fxFlex="0 1 auto">

                    <button mat-icon-button class="" [matMenuTriggerFor]="optionsMenu">
                        <mat-icon>more_horiz</mat-icon>
                    </button>

                    <mat-menu #optionsMenu="matMenu" [overlapTrigger]="false">
                        <button mat-menu-item (click)="removeCard()">
                            Remove Card
                        </button>
                    </mat-menu>

                </div>
                <!-- / OPTIONS -->

            </div>

            <!-- CLOSE DIALOG BUTTON -->
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close Dialog">
                <mat-icon>close</mat-icon>
            </button>
            <!-- / CLOSE DIALOG BUTTON -->

        </div>

    </mat-toolbar>

    <div *ngIf="card" mat-dialog-content class="py-24 px-0 m-0" fusePerfectScrollbar>

        <!-- BREADCRUMB -->
        <div class="card-breadcrumb mt-8 mb-32 px-24" fxLayout="row" fxLayoutAlign="start center">
            <span>{{board.name}}</span>
            <mat-icon class="s-20">chevron_right</mat-icon>
            <span>{{list.name}}</span>
        </div>
        <!-- / BREADCRUMB -->

        <div fxLayout="row" fxLayoutAlign="start center">

            <!-- NAME -->
            <div class="card-name px-24" fxLayout="row" fxLayoutAlign="start center">
                <mat-form-field appearance="outline" class="w-100-p">
                    <mat-label>Title</mat-label>
                    <input matInput [(ngModel)]="card.name" required (change)="updateCard()">
                </mat-form-field>
            </div>
            <!-- / NAME -->

            <!-- DUE DATE -->
            <div *ngIf="card.due" class="due-date px-24 pl-0" fxLayout="row" fxLayoutAlign="start center">
                <mat-form-field appearance="outline" class="w-100-p">
                    <mat-label>Due Date</mat-label>
                    <input matInput [matDatepicker]="picker" [(ngModel)]="card.due">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
            <!-- / DUE DATE -->

        </div>

        <!-- DESCRIPTION -->
        <div class="description px-24 mb-16">
            <mat-form-field appearance="outline" class="w-100-p">
                <mat-label>Description</mat-label>
                <textarea matInput [(ngModel)]="card.description" columns="1"
                          mat-maxlength="150" max-rows="4" (change)="updateCard()"></textarea>
            </mat-form-field>
        </div>
        <!-- / DESCRIPTION -->

        <!-- SECTIONS -->
        <div class="sections">

        </div>
        <!-- / SECTIONS -->

    </div>

</div>
