<div *ngIf="!formActive" class="add-card-button"
     (click)="openForm()"
     fxLayout="row" fxLayoutAlign="start center">
    <mat-icon class="s-20">add</mat-icon>
    <div>Ajouter un sujet</div>
</div>

<div *ngIf="formActive" class="add-card-form-wrapper">

  <form [formGroup]="form" (submit)="onFormSubmit()" class="add-card-form" fxLayout="column">
      <div>
        <label>Type de réponse: </label>

        <!--div>
          <input formControlName="typeQuestion" type="radio" value="textBox" (change)="formType=$event.target.value" /> Champ de text
          <input formControlName="typeQuestion" type="radio" value="dropdownList" (change)="formType=$event.target.value" /> Liste déroulant
          <input formControlName="typeQuestion" type="radio" value="listOfRradio" (change)="formType=$event.target.value" /> Liste de bouton radio
          <input formControlName="typeQuestion" type="radio" value="checkbox" (change)="formType=$event.target.value" /> Liste de bouton radio
        </div-->
        <mat-radio-group formControlName="typeQuestion">
          <mat-radio-button value="textBox" (change)="checkQuestionType($event)">Champ de text</mat-radio-button>
          <mat-radio-button value="dropdownList" (change)="checkQuestionType($event)">Liste déroulant</mat-radio-button>
          <mat-radio-button value="listOfRradio" (change)="checkQuestionType($event)">Liste de bouton radio</mat-radio-button>
          <mat-radio-button value="checkbox" (change)="checkQuestionType($event)">Liste de case à cocher</mat-radio-button>
        </mat-radio-group>
      </div>
      
      <div>

        <div class="view" *ngIf="formType=='textBox'">
          <mat-form-field fxFlex floatLabel="never">
            <input #nameInput matInput formControlName="name" placeholder="Saisissez votre question" autocomplete="off" required>
          </mat-form-field>

        </div>

        <div class="view edit displayBlock" *ngIf="formType=='dropdownList'">
          <mat-form-field floatLabel="never">
            <input #nameInput matInput formControlName="name" placeholder="Saisissez votre question" autocomplete="off" required>
          </mat-form-field>
          <mat-form-field class="example-chip-list">
            <mat-chip-list #chipList aria-label="Liste des items du dropdownlist">
              <mat-chip *ngFor="let subItem of questionSubsubItem" [selectable]="selectable"
                        [removable]="removable" (removed)="remove(subItem)">
                {{subItem}}
                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
              </mat-chip>
              <input placeholder="Liste des items du dropdownlist"
                     [matChipInputFor]="chipList"
                     [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                     [matChipInputAddOnBlur]="addOnBlur"
                     (matChipInputTokenEnd)="add($event)">
            </mat-chip-list>
          </mat-form-field>
        </div>

        <div class="view add" *ngIf="formType=='listOfRradio'">
          <mat-form-field floatLabel="never">
            <input #nameInput matInput formControlName="name" placeholder="Saisissez votre question" autocomplete="off" required>
          </mat-form-field>
          <mat-form-field class="example-chip-list">
            <mat-chip-list #chipList aria-label="Liste des radio">
              <mat-chip *ngFor="let subItem of questionSubsubItem" [selectable]="selectable"
                        [removable]="removable" (removed)="remove(subItem)">
                {{subItem}}
                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
              </mat-chip>
              <input placeholder="Liste des radio"
                     [matChipInputFor]="chipList"
                     [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                     [matChipInputAddOnBlur]="addOnBlur"
                     (matChipInputTokenEnd)="add($event)">
            </mat-chip-list>
          </mat-form-field>
        </div>
        <div class="view add" *ngIf="formType == 'checkbox'">
          <mat-form-field floatLabel="never">
            <input #nameInput matInput formControlName="name" placeholder="Saisissez votre question" autocomplete="off" required>
          </mat-form-field>
          <mat-form-field class="example-chip-list">
            <mat-chip-list #chipList aria-label="Liste checkbox">
              <mat-chip *ngFor="let subItem of questionSubsubItem" [selectable]="selectable"
                        [removable]="removable" (removed)="remove(subItem)">
                {{subItem}}
                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
              </mat-chip>
              <input placeholder="Liste des checkbox"
                     [matChipInputFor]="chipList"
                     [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                     [matChipInputAddOnBlur]="addOnBlur"
                     (matChipInputTokenEnd)="add($event)">
            </mat-chip-list>
          </mat-form-field>
        </div>

      </div>
    

    <div class="pl-8" fxLayout="row" fxLayoutAlign="space-between center">

      <button mat-raised-button class="add-button mat-accent" aria-label="add" >
        <span>Add</span>
      </button>

      <button mat-icon-button (click)="closeForm()" class="cancel-button" aria-label="cancel">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </form>
</div>
